{% extends 'base.html.twig' %}
{% block styles %}
    {{ encore_entry_link_tags('about_me')}}
{% endblock %}

{% block title %} Page about me  {% endblock %}

{% block body %}
    <div class="main">
        <h1 class="main__about">Cтраница обо мне</h1>
        <img src="img/1.jpg" alt="Титульное фото" height="180" width="150" class="main__photo"/>
        <h2 class="main__list-header">Мои увлечения</h2>
        <ul class="main__list list">
            <li class="list__item">Баскетбол</li>
            <li class="list__item">Программирование</li>
            <li class="list__item">Компьюьерные игры</li>
        </ul>
        <p class="main__message">В баскетбол играю уже 4 года. За это время много чему научился. Принимал участие в
            различных соревнованиях. В школьные годы был капитаном команды</p>
        <p class="main__message">С программирование познакомился ещё в начальной школе на робототехнике, но на более
            осознаном уровне начал заниматься только в 10 классе</p>
        <p class="main__message">В компьютер начал играть с 1 класса. В классе 5 начал играть в мултиплеерные игры. Было
            очень интересно получать новый опыт, становится лучше. Сейчас появился новый взгляд на игры: их
            устройство</p>
        <h2 class="main__theme-header">Поступление на ПС</h2>
        <p class="main__message"> На ПС я поступил, чтобы получить фундаментальные зания о строение, архитектуре и
            разработке программ. Огромным плюсом этого направления является то, что большинство преподавателей
            программирования непосредственно разрабатывают программы в компаниях города</p>
        <h2 calss="main__theme-header">Зачем мне нужна весеняя практика</h2>
        <p class="main__message"> Я хочу получить новые знания и самое главное на основе этой базы решить реальную
            задачу</p>
        <a href="https://vk.com/efedoseev99" class="">Моя страница</a>
    </div>
    <div class="pictures">
        {% for hobbie in hobbies %}
            {% set count = loop.index %}
            <div class="pictures__gallery gallery">
                <h3 class="gallery__name">{{ hobbie.getName }}</h3>
                <div class="gallery__images images images_{{ count }}">
                    <ul class="images__slidewrapper slidewrapper slidewrapper_{{ count }}">
                        {% for image in hobbie.getImages %}
                            <li class="slidewrapper__slide slide">
                                <img src="{{ image }}" alt="wasn't founded" class="slide__photo"/>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="gallery__prev-next-btns prev-next-btns">
                    <div class="prev-btn prev-btn_{{ count }}"></div>
                    <div class="next-btn next-btn_{{ count }}"></div>
                </div>
                <ul class="gallery__nav-btns nav-btns ">
                    {% for i in 1..5 %}
                        <li class="slide-nav-btn slide-nav-btn_{{ count }}"></li>
                    {% endfor %}
                </ul>
                <button class="gallery__updater" id="theme-updater_{{ count }}">Обновить изображения </button>
            </div>
        {% endfor %}
    </div>
    <button id="updater"> Обновить все изображения</button>
{{ encore_entry_script_tags('about_me') }}

{% endblock %}